**/.DS_Store
**/__pycache__
**/.ipynb_checkpoints
**/ngrok

**/*.csv
**/*.pkl
**/*.msg
**/*.json
**/*.html
**/*.txt
**/*.file
**/*.bin
**/*.pth
**/*.zip
**/*.story
**/*.npy
**/*.tgz

!requirements.txt
